{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

  {% if form.errors %}
    <p>Nom d'utilisateur/mot de passe incorrect. Réessayez</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Vous n'avez pas accès à cette page.</p>
    {% else %}
      <p>Connectez vous pour visiter cette page/</p>
    {% endif %}
  {% endif %}



<main class="login">
      <form method="post">
        <h1>Connexion</h1>
        {% csrf_token %}
          {{ form.as_p}}
        <p><button type="submit">Se connecter</button></p>
      </form>

</main>

